/*region common */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

:root{
    --fc-bg: #ffffff;
    --fc-title: #e53170;
    --fc-bgcards: #0f0e17;
    --fc-mail: #60b9dc;
}
/* end region common */

/*Utilities*/

header{
    padding: 1rem;
    margin: 0 auto;
    color: var(--fc-title);
    text-align: center;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.team .guy{
    float: left;
    width: calc(100% / 3);
    padding: 0 15px;
}

.debug .guy{
    height: 100px;
    background-color: #0f0e17;
    border: 1px solid yellow;
}

.team .guy img{
    height: 98px;
}