/*region common */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

:root{
    --fc-bg: #ffffff;
    --fc-title: #e53170;
    --fc-bgcards: #0f0e17;
    --fc-mail: #60b9dc;
}
/* end region common */

/*Utilities*/

header{
    padding: 1rem;
    margin: 0 auto;
    color: var(--fc-title);
    text-align: center;
}

.container{
    max-width: 1170px;
    margin: 10px auto;
}

.team .card{
    margin: 6px;
    float: left;
    width: calc(96% / 3);
    text-align: left;
    height: 70px;
    padding: 0px;
}

.card{
    background-color: #0f0e17;
    ;
}

.team .card img{
    height: 70px;
}

.name{
    font-weight: bold;
    color: white;
}

.role{
    font-size: 0.75em;
    color: white;
}
.mail{
    color:#60b9dc;
    font-size: 0.75em;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}